.carousel {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.carouselItem {
  padding-bottom: 0.5rem;
  margin-block: 0;
  border-radius: 8px;
}
